<b><i>Yes Bank Data\thon

In [1]:
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt # Visualization
import seaborn as sns # For easier statistical plotting
sns.set_style("whitegrid")

<b><i>Load training dataset into variable train

In [2]:
train = pd.read_csv('Yes_Bank_Training.csv')

<b><i>Change lables of 'yes' into 1 and 'no' into 0 <br>
    yes --> 1<br>
    no  --> 0

In [3]:
def process_label(text):
    if text == 'yes':
        return 1
    else:
        return 0

<b><i>Change categorical features into corresponding numeric values like : </i></b><br>
<i>marital_status --> married, non-married, divorced
    <br>change it into 
    <br>marital_status_married --> 1 for yes or 0 for no
    <br>marital_status_non-married --> 1 for yes or 0 for no
    <br>marital_status_divorced --> 1 for yes or 0 for no

In [4]:
data = train
cat_vars = ['job_description','marital_status','education_details','has_default','housing_status','previous_loan','phone_type','month_of_year','poutcome_of_campaign']
for var in cat_vars:
    cat_list = 'var' + '_' + var
    cat_list = pd.get_dummies(train[var], prefix=var)
    data1 = pd.concat([data,cat_list], axis=1)
    data = data1

cat_vars = ['job_description','marital_status','education_details','has_default','housing_status','previous_loan','phone_type','month_of_year','poutcome_of_campaign']
data_vars = data.columns.values.tolist()
to_keep = [i for i in data_vars if i not in cat_vars]

In [5]:
Train = data[to_keep]

In [6]:
len(Train.columns)

52

In [7]:
Train['outcome'] = Train['outcome'].apply(lambda x : process_label(x))

D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
Train.head()

,serial_number,age_in_years,balance_in_account,date,call_duration,campaign_contacts,days_passed,previous_contact,outcome,job_description_admin.,...,month_of_year_jul,month_of_year_jun,month_of_year_mar,month_of_year_may,month_of_year_nov,month_of_year_oct,poutcome_of_campaign_failure,poutcome_of_campaign_other,poutcome_of_campaign_success,poutcome_of_campaign_unknown
0,1,58,2143,5,261,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,2,44,29,5,151,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,3,33,2,5,76,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,4,47,1506,5,92,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,5,33,1,5,198,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [9]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31649 entries, 0 to 31648
Data columns (total 52 columns):
serial_number                    31649 non-null int64
age_in_years                     31649 non-null int64
balance_in_account               31649 non-null int64
date                             31649 non-null int64
call_duration                    31649 non-null int64
campaign_contacts                31649 non-null int64
days_passed                      31649 non-null int64
previous_contact                 31649 non-null int64
outcome                          31649 non-null int64
job_description_admin.           31649 non-null uint8
job_description_blue-collar      31649 non-null uint8
job_description_entrepreneur     31649 non-null uint8
job_description_housemaid        31649 non-null uint8
job_description_management       31649 non-null uint8
job_description_retired          31649 non-null uint8
job_description_self-employed    31649 non-null uint8
job_description_services         31649 non-null uint8
job_description_student          31649 non-null uint8
job_description_technician       31649 non-null uint8
job_description_unemployed       31649 non-null uint8
job_description_unknown          31649 non-null uint8
marital_status_divorced          31649 non-null uint8
marital_status_married           31649 non-null uint8
marital_status_single            31649 non-null uint8
education_details_primary        31649 non-null uint8
education_details_secondary      31649 non-null uint8
education_details_tertiary       31649 non-null uint8
education_details_unknown        31649 non-null uint8
has_default_no                   31649 non-null uint8
has_default_yes                  31649 non-null uint8
housing_status_no                31649 non-null uint8
housing_status_yes               31649 non-null uint8
previous_loan_no                 31649 non-null uint8
previous_loan_yes                31649 non-null uint8
phone_type_cellular              31649 non-null uint8
phone_type_telephone             31649 non-null uint8
phone_type_unknown               31649 non-null uint8
month_of_year_apr                31649 non-null uint8
month_of_year_aug                31649 non-null uint8
month_of_year_dec                31649 non-null uint8
month_of_year_feb                31649 non-null uint8
month_of_year_jan                31649 non-null uint8
month_of_year_jul                31649 non-null uint8
month_of_year_jun                31649 non-null uint8
month_of_year_mar                31649 non-null uint8
month_of_year_may                31649 non-null uint8
month_of_year_nov                31649 non-null uint8
month_of_year_oct                31649 non-null uint8
poutcome_of_campaign_failure     31649 non-null uint8
poutcome_of_campaign_other       31649 non-null uint8
poutcome_of_campaign_success     31649 non-null uint8
poutcome_of_campaign_unknown     31649 non-null uint8
dtypes: int64(9), uint8(43)
memory usage: 3.5 MB

<b><i>Sampling training dataset as it not balanced between two output values</i></b><br>
<i>Using imblearn library to get sampled dataset from given training dataset</i>

In [10]:
from imblearn.over_sampling import SMOTE
X = Train.loc[:, Train.columns != 'outcome']
Y = Train.loc[:, Train.columns == 'outcome']

os = SMOTE(random_state=0)
columns = X.columns

os_data_X, os_data_Y = os.fit_sample(X,Y)
os_data_X = pd.DataFrame(data=os_data_X,columns=columns)
os_data_Y = pd.DataFrame(data=os_data_Y,columns=['outcome'])

D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
os_data_Y['outcome'].count_values()

In [11]:
os_data_X = os_data_X.loc[:, os_data_X.columns != 'serial_number']

In [13]:
X = os_data_X
y = os_data_Y

In [14]:
# X.to_csv('X.csv',encoding='utf-8')
# y.to_csv('y.csv',encoding='utf-8')

<i>Analyzing statistical model of dataset and model to get inference

In [15]:
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.108934
         Iterations 10
                                Results: Logit
==============================================================================
Model:                   Logit                Pseudo R-squared:     0.843
Dependent Variable:      outcome              AIC:                  13088.8693
Date:                    2018-12-10 04:47     BIC:                  13538.6550
No. Observations:        59618                Log-Likelihood:       -6494.4
Df Model:                49                   LL-Null:              -41324.
Df Residuals:            59568                LLR p-value:          0.0000
Converged:               1.0000               Scale:                1.0000
No. Iterations:          10.0000
------------------------------------------------------------------------------
                               Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
------------------------------------------------------------------------------
age_in_years                   0.0411   0.0029  14.2760 0.0000  0.0354  0.0467
balance_in_account             0.0000   0.0000   2.3986 0.0165  0.0000  0.0000
date                           0.0386   0.0035  11.1795 0.0000  0.0318  0.0454
call_duration                  0.0061   0.0001  69.1561 0.0000  0.0060  0.0063
campaign_contacts             -0.0491   0.0100  -4.9002 0.0000 -0.0687 -0.0294
days_passed                    0.0211   0.0017  12.0608 0.0000  0.0177  0.0245
previous_contact              -0.0002   0.0083  -0.0209 0.9833 -0.0164  0.0160
job_description_admin.        -4.8964   0.1419 -34.4960 0.0000 -5.1746 -4.6182
job_description_blue-collar   -4.4987   0.1301 -34.5835 0.0000 -4.7536 -4.2437
job_description_entrepreneur  -5.3770   0.1990 -27.0244 0.0000 -5.7670 -4.9870
job_description_housemaid     -6.5076   0.2692 -24.1777 0.0000 -7.0351 -5.9800
job_description_management    -4.7208   0.1330 -35.4993 0.0000 -4.9815 -4.4602
job_description_retired       -5.4682   0.1814 -30.1505 0.0000 -5.8236 -5.1127
job_description_self-employed -5.6986   0.1988 -28.6674 0.0000 -6.0882 -5.3090
job_description_services      -5.2120   0.1528 -34.0994 0.0000 -5.5115 -4.9124
job_description_student       -5.0732   0.2838 -17.8772 0.0000 -5.6294 -4.5170
job_description_technician    -4.9693   0.1316 -37.7646 0.0000 -5.2272 -4.7114
job_description_unemployed    -5.9661   0.2044 -29.1922 0.0000 -6.3667 -5.5655
job_description_unknown       -4.3606   0.3146 -13.8608 0.0000 -4.9772 -3.7440
marital_status_divorced       -3.8782   0.1440 -26.9310 0.0000 -4.1604 -3.5959
marital_status_married        -3.9095   0.1260 -31.0193 0.0000 -4.1566 -3.6625
marital_status_single         -3.2554   0.1273 -25.5634 0.0000 -3.5050 -3.0058
education_details_primary     -3.0866   0.1400 -22.0467 0.0000 -3.3610 -2.8122
education_details_secondary   -2.4002   0.1174 -20.4529 0.0000 -2.6302 -2.1702
education_details_tertiary    -2.2849   0.1249 -18.2872 0.0000 -2.5298 -2.0400
education_details_unknown     -3.5066   0.2036 -17.2266 0.0000 -3.9056 -3.1077
has_default_no                 3.5540   0.1659  21.4174 0.0000  3.2288  3.8792
has_default_yes                3.5393   0.2523  14.0275 0.0000  3.0448  4.0339
housing_status_no             -2.8024   0.1414 -19.8155 0.0000 -3.0795 -2.5252
housing_status_yes            -3.0489   0.1428 -21.3451 0.0000 -3.3289 -2.7690
previous_loan_no              -0.4342   0.1244  -3.4896 0.0005 -0.6781 -0.1903
previous_loan_yes             -1.1574   0.1437  -8.0568 0.0000 -1.4390 -0.8759
phone_type_cellular            1.6691   0.1509  11.0640 0.0000  1.3735  1.9648
phone_type_telephone           1.2666   0.1906   6.6460 0.0000  0.8931  1.6401
phone_type_unknown             2.7709   0.2508  11.0486 0.0000  2.2794  3.2625
month_of_year_apr             -0.2169   0.3185  -0.6808 0.4960 -0.8411  0.4074
month_of_year_aug             -0.4565   0.1671  -2.7313 0.0063 -0.7840 -0.1289
month_of_year_dec             -0.1145   1.1853  -0.0966 0.9230 -2.4377  2.2086
month_of_year_feb              1.2878   0.1653   7.7918 0.0000  0.9639  1.6117
month_of_year_jan             -2.3872   0.2435  -9.8022 0.0000 -2.8646 -1.9099
month_of_year_jul             -0.8292   0.1650  -5.0251 0.0000 -1.1526 -0.5058
month_of_year_jun             -1.9843   0.2524  -7.8619 0.0000 -2.4790 -1.4896
month_of_year_mar              3.3936   0.2004  16.9300 0.0000  3.0007  3.7865
month_of_year_may             -2.5727   0.2555 -10.0698 0.0000 -3.0734 -2.0720
month_of_year_nov             -0.5423   0.1672  -3.2435 0.0012 -0.8700 -0.2146
month_of_year_oct              3.6337   0.3090  11.7584 0.0000  3.0280  4.2393
poutcome_of_campaign_failure  -2.7970   0.3830  -7.3030 0.0000 -3.5477 -2.0463
poutcome_of_campaign_other    -2.4067   0.3974  -6.0562 0.0000 -3.1856 -1.6278
poutcome_of_campaign_success  -0.3461   0.5085  -0.6806 0.4961 -1.3428  0.6506
poutcome_of_campaign_unknown   3.0074   0.1700  17.6899 0.0000  2.6742  3.3406
==============================================================================

<b><i>Spliting X,y into training and validating dataset from original dataset and fitting data into logistic regression model

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=1)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

<b><i>Prediction on validation dataset

In [ ]:
y_pred = logreg.predict(X_val)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_val, y_val)))

<b><i>Loading test dataset and converting it into trained model form dataset to get prediction

In [19]:
test = pd.read_csv('Yes_Bank_Test.csv',encoding='utf-8')

In [20]:
data = test
cat_vars = ['job_description','marital_status','education_details','has_default','housing_status','previous_loan','phone_type','month_of_year','poutcome_of_campaign']
for var in cat_vars:
    cat_list = 'var' + '_' + var
    cat_list = pd.get_dummies(test[var], prefix=var)
    data1 = pd.concat([data,cat_list], axis=1)
    data = data1

cat_vars = ['job_description','marital_status','education_details','has_default','housing_status','previous_loan','phone_type','month_of_year','poutcome_of_campaign']
data_vars = data.columns.values.tolist()
to_keep = [i for i in data_vars if i not in cat_vars]

In [21]:
Test = data[to_keep]

In [22]:
Test = Test.loc[:, (Test.columns != 'serial_number') & (Test.columns != 'month_of_year_sep')]

In [23]:
len(X.columns)

50

In [24]:
len(Test.columns)

50

<b><i>Test dataset prediction from model.

In [25]:
y_pred_test = logreg.predict(Test)

In [26]:
y_test_Sn = np.array([x for x in range(1,len(test)+1)])

In [27]:
from collections import OrderedDict 
SubDict = OrderedDict()
SubDict['serial_number'] = y_test_Sn
SubDict['outcome'] = y_pred_test

In [28]:
test_submit = pd.DataFrame(SubDict)

In [29]:
test_submit['outcome'].value_counts()

0    12344
1     1218
Name: outcome, dtype: int64

In [30]:
def deprocess_label(text):
    if text == 1:
        return 'yes'
    else:
        return 'no'

In [ ]:
test_submit['outcome'] = test_submit['outcome'].apply(lambda x : deprocess_label(x))

In [ ]:
test_submit.to_csv('Test_submit.csv',encoding='utf-8',index=False)

<b><i>Tuning Hyperparameters

In [ ]:
model = LogisticRegression(penalty='l2', dual=False, tol=0.0001, C=1.0, 
                           fit_intercept=True, intercept_scaling=1, class_weight='balanced', 
                           random_state=1, solver='saga', max_iter=500, multi_class='multinomial', 
                           verbose=1, warm_start=False, n_jobs=None)

In [ ]:
model.fit(X_train,y_train)

In [ ]:
y_pred2 = model.predict(X_val)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(model.score(X_val, y_val)))

In [ ]:
y_pred_test2 = model.predict(Test)

In [ ]:
SubDict = OrderedDict()
SubDict['serial_number'] = y_test_Sn
SubDict['outcome'] = y_pred_test2

In [ ]:
test_submit2 = pd.DataFrame(SubDict)

In [ ]:
test_submit2['outcome'].value_counts()

In [ ]:
def deprocess_label(text):
    if text == 1:
        return 'yes'
    else:
        return 'no'

In [ ]:
test_submit2['outcome'] = test_submit2['outcome'].apply(lambda x : deprocess_label(x))

In [ ]:
test_submit2.to_csv('Test_submit.csv',encoding='utf-8',index=False)