<b><i>Keras Neural Network

In [2]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

In [127]:
train = pd.read_csv('Yes_Bank_Training.csv')

In [128]:
#Process Labels into binary
def process_label(text):
    if text == 'yes':
        return 1
    else:
        return 0

In [129]:
data = train
cat_vars = ['job_description','marital_status','education_details','has_default','housing_status','previous_loan','phone_type','month_of_year','poutcome_of_campaign']
for var in cat_vars:
    cat_list = 'var' + '_' + var
    cat_list = pd.get_dummies(train[var], prefix=var)
    data1 = pd.concat([data,cat_list], axis=1)
    data = data1

cat_vars = ['job_description','marital_status','education_details','has_default','housing_status','previous_loan','phone_type','month_of_year','poutcome_of_campaign']
data_vars = data.columns.values.tolist()
to_keep = [i for i in data_vars if i not in cat_vars]

In [130]:
Train = data[to_keep]

In [131]:
Train['outcome'] = Train['outcome'].apply(lambda x : process_label(x))

D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [132]:
Train.head()

,serial_number,age_in_years,balance_in_account,date,call_duration,campaign_contacts,days_passed,previous_contact,outcome,job_description_admin.,...,month_of_year_jul,month_of_year_jun,month_of_year_mar,month_of_year_may,month_of_year_nov,month_of_year_oct,poutcome_of_campaign_failure,poutcome_of_campaign_other,poutcome_of_campaign_success,poutcome_of_campaign_unknown
0,1,58,2143,5,261,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,2,44,29,5,151,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,3,33,2,5,76,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,4,47,1506,5,92,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,5,33,1,5,198,1,-1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [133]:
Train.describe()

,serial_number,age_in_years,balance_in_account,date,call_duration,campaign_contacts,days_passed,previous_contact,outcome,job_description_admin.,...,month_of_year_jul,month_of_year_jun,month_of_year_mar,month_of_year_may,month_of_year_nov,month_of_year_oct,poutcome_of_campaign_failure,poutcome_of_campaign_other,poutcome_of_campaign_success,poutcome_of_campaign_unknown
count,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,...,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000,31649.000000
mean,15825.000000,41.111820,1293.382540,16.597997,252.408196,3.062372,10.819931,0.208537,0.058138,0.105975,...,0.201586,0.141742,0.008152,0.251414,0.113684,0.002528,0.045467,0.016999,0.002559,0.934974
std,9136.423671,9.597652,2961.185138,8.586414,262.344981,3.510245,48.086849,1.946336,0.234007,0.307810,...,0.401191,0.348791,0.089921,0.433833,0.317433,0.050214,0.208330,0.129269,0.050526,0.246575
min,1.000000,19.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7913.000000,33.000000,47.000000,9.000000,98.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,15825.000000,40.000000,397.000000,18.000000,171.000000,2.000000,-1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,23737.000000,49.000000,1328.000000,23.000000,305.000000,3.000000,-1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,31649.000000,94.000000,98417.000000,31.000000,4918.000000,63.000000,335.000000,275.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [134]:
from imblearn.over_sampling import SMOTE
X = Train.loc[:, Train.columns != 'outcome']
Y = Train.loc[:, Train.columns == 'outcome']

os = SMOTE(random_state=0)
columns = X.columns

In [135]:
os_data_X, os_data_Y = os.fit_sample(X,Y)
os_data_X = pd.DataFrame(data=os_data_X,columns=columns)
os_data_Y = pd.DataFrame(data=os_data_Y,columns=['outcome'])

D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [136]:
data_final_vars = Train.columns.values.tolist()
y = ['outcome']
X = [i for i in data_final_vars if i not in y]

from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

rfe = RFE(logreg,20)
rfe = rfe.fit(os_data_X, os_data_Y.values.ravel())

D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Programs\Anaconda2\envs\tensorflow-gpu\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [137]:
print(rfe.support_)
print(rfe.ranking_)

[False False False False False False False False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False  True False False False False False
 False False False False False False False False False False False False
 False False False]
[31 26 32 27 29 25 28 30  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1 24 23  2  1  4  3  8  7  6 22 18 20 21 13 17 16  9 15 19  5 10
 11 14 12]

In [138]:
os_data_X.columns

Index(['serial_number', 'age_in_years', 'balance_in_account', 'date',
       'call_duration', 'campaign_contacts', 'days_passed', 'previous_contact',
       'job_description_admin.', 'job_description_blue-collar',
       'job_description_entrepreneur', 'job_description_housemaid',
       'job_description_management', 'job_description_retired',
       'job_description_self-employed', 'job_description_services',
       'job_description_student', 'job_description_technician',
       'job_description_unemployed', 'job_description_unknown',
       'marital_status_divorced', 'marital_status_married',
       'marital_status_single', 'education_details_primary',
       'education_details_secondary', 'education_details_tertiary',
       'education_details_unknown', 'has_default_no', 'has_default_yes',
       'housing_status_no', 'housing_status_yes', 'previous_loan_no',
       'previous_loan_yes', 'phone_type_cellular', 'phone_type_telephone',
       'phone_type_unknown', 'month_of_year_apr', 'month_of_year_aug',
       'month_of_year_dec', 'month_of_year_feb', 'month_of_year_jan',
       'month_of_year_jul', 'month_of_year_jun', 'month_of_year_mar',
       'month_of_year_may', 'month_of_year_nov', 'month_of_year_oct',
       'poutcome_of_campaign_failure', 'poutcome_of_campaign_other',
       'poutcome_of_campaign_success', 'poutcome_of_campaign_unknown'],
      dtype='object')

In [139]:
select_index = np.where(rfe.ranking_ == 1)[0]
select_cols = os_data_X.columns[select_index]
train_x = os_data_X[select_cols]
train_y = os_data_Y

In [149]:
X = train_x
Y = train_y

In [150]:
X.shape

(59618, 20)

In [155]:
#baseline model
model = Sequential()
model.add(Dense(2,input_dim=20,activation='sigmoid',kernel_initializer='normal'))
model.add(Dense(1,input_dim=2,activation='sigmoid',kernel_initializer='normal'))
model.add(Dense(1,activation='softmax'))
model.compile(optimizer='sgd',
             loss='binary_crossentropy',
             metrics=['accuracy'])

In [156]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_36 (Dense)             (None, 2)                 42
_________________________________________________________________
dense_37 (Dense)             (None, 1)                 3
_________________________________________________________________
dense_38 (Dense)             (None, 1)                 2
=================================================================
Total params: 47
Trainable params: 47
Non-trainable params: 0
_________________________________________________________________

In [157]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, Y, test_size=0.2, random_state=0)

In [158]:
model.fit(X_train,y_train,epochs=20,validation_data=(X_val,y_val))

Train on 47694 samples, validate on 11924 samples
Epoch 1/20
47694/47694 [==============================] - 7s 145us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 2/20
47694/47694 [==============================] - 6s 133us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 3/20
47694/47694 [==============================] - 7s 141us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 4/20
47694/47694 [==============================] - 6s 136us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 5/20
47694/47694 [==============================] - 6s 134us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 6/20
47694/47694 [==============================] - 7s 145us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 7/20
47694/47694 [==============================] - 6s 134us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 8/20
47694/47694 [==============================] - 6s 126us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 9/20
47694/47694 [==============================] - 6s 124us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 10/20
47694/47694 [==============================] - 6s 127us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 11/20
47694/47694 [==============================] - 6s 125us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 12/20
47694/47694 [==============================] - 6s 124us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 13/20
47694/47694 [==============================] - 6s 123us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 14/20
47694/47694 [==============================] - 6s 126us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 15/20
47694/47694 [==============================] - 6s 124us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 16/20
47694/47694 [==============================] - 6s 122us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 17/20
47694/47694 [==============================] - 6s 126us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 18/20
47694/47694 [==============================] - 6s 122us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 19/20
47694/47694 [==============================] - 6s 122us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041
Epoch 20/20
47694/47694 [==============================] - 6s 126us/step - loss: 7.9876 - acc: 0.4990 - val_loss: 7.9057 - val_acc: 0.5041

In [114]:
test = pd.read_csv('Yes_Bank_Test.csv',encoding='utf-8')

In [115]:
test.head()

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,1,33,admin.,married,secondary,no,796,yes,no,telephone,6,apr,216,1,-1,0,unknown
1,2,40,management,married,secondary,no,754,no,yes,cellular,6,apr,635,1,-1,0,unknown
2,3,30,technician,single,secondary,no,10152,yes,no,cellular,6,apr,1108,2,270,1,failure
3,4,44,blue-collar,married,secondary,no,545,yes,no,cellular,6,apr,122,3,136,1,failure
4,5,35,technician,married,secondary,no,5553,yes,no,cellular,6,apr,371,3,136,7,failure

In [116]:
data = test
cat_vars = ['job_description','marital_status','education_details','has_default','housing_status','previous_loan','phone_type','month_of_year','poutcome_of_campaign']
for var in cat_vars:
    cat_list = 'var' + '_' + var
    cat_list = pd.get_dummies(test[var], prefix=var)
    data1 = pd.concat([data,cat_list], axis=1)
    data = data1

cat_vars = ['job_description','marital_status','education_details','has_default','housing_status','previous_loan','phone_type','month_of_year','poutcome_of_campaign']
data_vars = data.columns.values.tolist()
to_keep = [i for i in data_vars if i not in cat_vars]

In [117]:
Test = data[to_keep]

In [118]:
Test.head()

,serial_number,age_in_years,balance_in_account,date,call_duration,campaign_contacts,days_passed,previous_contact,job_description_admin.,job_description_blue-collar,...,month_of_year_jun,month_of_year_mar,month_of_year_may,month_of_year_nov,month_of_year_oct,month_of_year_sep,poutcome_of_campaign_failure,poutcome_of_campaign_other,poutcome_of_campaign_success,poutcome_of_campaign_unknown
0,1,33,796,6,216,1,-1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2,40,754,6,635,1,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,30,10152,6,1108,2,270,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,4,44,545,6,122,3,136,1,0,1,...,0,0,0,0,0,0,1,0,0,0
4,5,35,5553,6,371,3,136,7,0,0,...,0,0,0,0,0,0,1,0,0,0

In [119]:
Test = Test.loc[:, Test.columns != 'serial_number']

In [120]:
Test = Test.loc[:, Test.columns != 'month_of_year_sep']

In [121]:
y_pred = model.predict(Test)

In [125]:
y_pred[0][0]

1.0

TypeError: unhashable type: 'numpy.ndarray'

In [49]:
s

{0}